* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image:url('imgs/bg.png');
    background-repeat: repeat-y;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.89);
    width: 98%;
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(2px);
    font-family: Poppins, sans-serif;
}

#logo {
    height: 3rem;
    padding: 0.3rem;
}

#navOptions {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

#navOptions li {
    display: inline;
}

.navItem {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 8px 12px;
}

.navItem:hover {
    text-decoration: underline;
}

.active {
    font-weight: 500;
}

#menuToggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 1.5rem;
}

#menuToggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}

#menuToggle.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#menuToggle.open .bar:nth-child(2) {
    opacity: 0;
}

#menuToggle.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
    #logo {
        height: 2.6rem;
        padding: 0rem;
    }

    #navBar {
        padding-bottom: 0.8rem;
        padding-top: 1rem;
    }

    #menuToggle {
        display: block;
    }

    #navOptions {
        visibility: hidden;
        position: absolute;
        top: 70px;
        right: 0px;
        background-color: rgba(255, 255, 255, 0.89);
        list-style: none;
        padding: 1rem;
        flex-direction: column;
        gap: 0.5rem;
        width: 94%;
        border-radius: 8px;
    
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.4s ease-in-out;
    }
    
    #navOptions.show {
        visibility: visible;
        max-height: 500px;  
        opacity: 1;
        transform: translateY(0);
    }
    
    .navItem {
        padding-left: 1.5rem;
    }
}

.policy {
    margin-top: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.head {
    margin-left: 1rem;
    margin-right: 1rem;
}

.head h1 {
    font-family: Volkhov;
    font-size: 2.8rem;
    color: #14183E;
}

.content h3 {
    margin-top: 0.8rem;
}

.content {
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    text-align: left;
    gap: 0.2rem;
    font-family: Poppins;
}

.content h3 {
    font-weight: 610;
}

.content ul {
    padding-left: 1.8rem;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: 500;
}

span {
    font-weight: 500;
}

@media (max-width: 768px) {
    .head {
        font-size: 1.3rem;
        padding-bottom: 0.7rem;
    }

    .content {
        margin-left: 1.5rem;
        margin-right: 1.5rem;;
    }

    .content h3 {
        font-size: 1rem;
    }

    .content p, .content span, .content a, .content ul li {
        font-size: 0.8rem;
    }
}

/* FOOTER */

footer {
    font-family: Poppins;
    background-color: #f8f9fa;
    color: #070707;
    padding: 40px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #a1a1a1;
}

.footer-about {
    width: 15rem;
    margin-top: 0.3rem;
}

.footer-section h5 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.footer-section p,
.footer-section li {
    font-size: 14px;
    margin-bottom: 10px;
    list-style: none;
}

.footer-section a {
    color: #070707;
    text-decoration: none;
}

.footer-section a:hover {    
    color: #000000;
    font-weight: 450;
}

.newsletter input[type="email"] {
    width: 90%;
    padding: 10px;
    border: none;
    box-shadow: 0 0 0 0.5px #585858; 
    border-radius: 4px;
}

.newsletter button {
    padding: 10px 20px;
    border: none;
    background-color: #045625;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #03461a;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0rem;
}

.social-icons a {
    padding-top: 1.2rem;
    padding-left: 0.5rem;
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    gap: 30rem;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: -1.7rem;
    width: 100%;
}

@media (max-width: 768px) {
    .footer-bottom {
        display: flex;
        align-items: end;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        font-size: 0.7rem;
    }

    .footer-bottom img {
        width: 1rem;
        height: 1rem;
    }
}

@media (max-width: 768px) {
    .whatsapp {
        bottom: 0.9rem !important;
        right: 1rem !important;
    }

    .whatsapp img {
        width: 3rem !important;
    }
}